let g:netrw_dirhistmax  =10
let g:netrw_dirhist_cnt =4
let g:netrw_dirhist_1='/Users/equimper/coding/customer/cute/phx_server/lib'
let g:netrw_dirhist_2='/Users/equimper/coding/customer/cute/phx_server/lib/cute'
let g:netrw_dirhist_3='/Users/equimper/coding/customer/cute/phx_server/lib/cute/reaction'
let g:netrw_dirhist_4='/Users/equimper/coding/customer/cute/phx_server'
